@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.required:after {
    content:" *";
    color: red;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #606c38;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bc6c25;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dda15e;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-spin {
    animation: spin 3s linear infinite;
}